Resource_1 RCDATA "..\\..\\Dip\\Chapters\\1.1.rtf"
Resource_2 RCDATA "..\\..\\Dip\\Chapters\\1.2.rtf"
Resource_3 RCDATA "..\\..\\Dip\\Chapters\\1.3.rtf"
Resource_4 RCDATA "..\\..\\Dip\\Chapters\\1.4.rtf"
Resource_5 RCDATA "..\\..\\Dip\\Chapters\\1.5.rtf"
Resource_6 RCDATA "..\\..\\Dip\\Chapters\\2.1.rtf"
Resource_7 RCDATA "..\\..\\Dip\\Chapters\\2.2.rtf"
Resource_8 RCDATA "..\\..\\Dip\\Chapters\\2.3.rtf"
Resource_9 RCDATA "..\\..\\Dip\\Chapters\\2.4.rtf"
Resource_10 RCDATA "О программе.rtf"
